<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h1 style="color: rebeccapurple; text-align: center"> SUBSCRIBE TO AWLO MAGAZINE </h1>
        <h3 style="margin-top: 50px">Enter Your Email Address </h3>

        <div>
            <form method="POST" action="schedule">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="enter your email"
                        required>
                </div>
                <h3>Select Your Interval </h3>

                <div class="form-group">
                    <select class="form-control" id="interval" name="interval">
                        <option value="unsubscribe"> unsubscribe </option>
                        <option value="hourly">Hourly</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                    </select>
                </div>
                <div style="text-align: center">
                    <button type="submit" style="text-align: center" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>